#define RT_MANIFEST 24

#include <winver.h>
#include "version.h"

#define IDI_APP_ICON 101

IDI_APP_ICON ICON "../assets/app-icon.ico"
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MUTEALERT_VERSION_MAJOR,MUTEALERT_VERSION_MINOR,MUTEALERT_VERSION_PATCH,MUTEALERT_VERSION_BUILD
 PRODUCTVERSION MUTEALERT_VERSION_MAJOR,MUTEALERT_VERSION_MINOR,MUTEALERT_VERSION_PATCH,MUTEALERT_VERSION_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "MuteAlert"
            VALUE "FileDescription", "MuteAlert"
            VALUE "FileVersion", MUTEALERT_FILE_VERSION_STRING
            VALUE "InternalName", "MuteAlert.exe"
            VALUE "LegalCopyright", "Copyright 2026 Nikolay Dimitrov"
            VALUE "OriginalFilename", "MuteAlert.exe"
            VALUE "ProductName", "MuteAlert"
            VALUE "ProductVersion", MUTEALERT_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
